Chapter 21/PushClient/Service References/ServiceReference1/PushService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PushService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51649/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51649/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPushService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IPushService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IPushService_Unregister_InputMessage">
    <wsdl:part name="parameters" element="tns:Unregister" />
  </wsdl:message>
  <wsdl:message name="IPushService_Unregister_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnregisterResponse" />
  </wsdl:message>
  <wsdl:message name="IPushService_SendToastNotification_InputMessage">
    <wsdl:part name="parameters" element="tns:SendToastNotification" />
  </wsdl:message>
  <wsdl:message name="IPushService_SendToastNotification_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendToastNotificationResponse" />
  </wsdl:message>
  <wsdl:message name="IPushService_SendTileNotification_InputMessage">
    <wsdl:part name="parameters" element="tns:SendTileNotification" />
  </wsdl:message>
  <wsdl:message name="IPushService_SendTileNotification_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendTileNotificationResponse" />
  </wsdl:message>
  <wsdl:message name="IPushService_SendRawNotification_InputMessage">
    <wsdl:part name="parameters" element="tns:SendRawNotification" />
  </wsdl:message>
  <wsdl:message name="IPushService_SendRawNotification_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendRawNotificationResponse" />
  </wsdl:message>
  <wsdl:portType name="IPushService">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IPushService/Register" message="tns:IPushService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPushService/RegisterResponse" message="tns:IPushService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Unregister">
      <wsdl:input wsaw:Action="http://tempuri.org/IPushService/Unregister" message="tns:IPushService_Unregister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPushService/UnregisterResponse" message="tns:IPushService_Unregister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendToastNotification">
      <wsdl:input wsaw:Action="http://tempuri.org/IPushService/SendToastNotification" message="tns:IPushService_SendToastNotification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPushService/SendToastNotificationResponse" message="tns:IPushService_SendToastNotification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendTileNotification">
      <wsdl:input wsaw:Action="http://tempuri.org/IPushService/SendTileNotification" message="tns:IPushService_SendTileNotification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPushService/SendTileNotificationResponse" message="tns:IPushService_SendTileNotification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendRawNotification">
      <wsdl:input wsaw:Action="http://tempuri.org/IPushService/SendRawNotification" message="tns:IPushService_SendRawNotification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPushService/SendRawNotificationResponse" message="tns:IPushService_SendRawNotification_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPushService" type="tns:IPushService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IPushService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unregister">
      <soap:operation soapAction="http://tempuri.org/IPushService/Unregister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendToastNotification">
      <soap:operation soapAction="http://tempuri.org/IPushService/SendToastNotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendTileNotification">
      <soap:operation soapAction="http://tempuri.org/IPushService/SendTileNotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendRawNotification">
      <soap:operation soapAction="http://tempuri.org/IPushService/SendRawNotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PushService">
    <wsdl:port name="BasicHttpBinding_IPushService" binding="tns:BasicHttpBinding_IPushService">
      <soap:address location="http://localhost:51649/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>